﻿@model Aru.Web.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>SFA | Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="/Assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/Assets/admin/css/login.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/Assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/Assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/admin/css/layout.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="#" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    <div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center><p id="textErrorMessage">@ViewData["ErrorMessage"]</p></center>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="#">
            <img src="#" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <div class="content">
        <form id="FormLogin" class="login-form" asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            @*<input name="__RequestVerificationToken" type="hidden" value="CfDJ8EzxZQE2fOlFvN25xZ9REemhmQybnhO9AMA3wy7sdhb47J2sk1A9TJ86FJ9l3VXdUE5NT3lAlKbAZmoTM6ls9jcf2NWXgHlk3giKxETk_5j52he7uILSBizblRlge45lGg_IzsR6C_ie2j8dG2gFd-c" />*@
            <div class="form-title">
                <span class="form-title">Welcome to SFA</span> <br cleaer="all">
                <span class="form-subtitle">Sales Forces Automatic</span> <br cleaer="all"> <br cleaer="all">
                <span class="form-subtitle">Enter Username dan Password</span>
            </div>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter Username dan Password
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input asp-for="Username" class="form-control placeholder-no-fix" type="text" placeholder="Username" autocomplete="off" tabindex="1" />
                @*<input class="form-control placeholder-no-fix" type="text" placeholder="Username" name="Username" tabindex="1" />*@
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input asp-for="Password" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" tabindex="2" />
                @*<input class="form-control placeholder-no-fix" type="password" placeholder="Password" name="Password" tabindex="2" />*@
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-block uppercase" tabindex="3">Login</button>
                @*<button id="btn-login" type="submit" class="btn btn-primary btn-block uppercase" tabindex="3">Login</button>*@
            </div>
        </form>
    </div>
    <script src="/Assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/Assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/Assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/Assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/Assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="/Assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="/Assets/global/scripts/metronic.js"></script>
    <script type="text/javascript" src="/Assets/admin/scripts/layout.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            var errorMessage = '@ViewData["ErrorMessage"]';
            if (errorMessage != '') {
                $('#textErrorMessage').text(errorMessage);
                $('#errorDialog').modal('show');
            }
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
