﻿@model Aru.Web.ViewModels.TeritoryViewModel;
@using Aru.Business.Entities;
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<UserModel> listSuser = ViewBag.SalesList;
}

@section CustomScripts{
	<script type="text/javascript">
        jQuery(document).ready(function () {
            var errorMessage = '@ViewBag.ErrorMessage';
            if (errorMessage != '') {
                $('#errMessageTxt').text(errorMessage);
                $('#failedDialog').modal('show');
            }
        });
	</script>
}

<div class="page-content">
	<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<!-- Success Dialog -->
	@*<div class="modal fade" id="failedDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="pos_middle">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body" style="padding: 20px 25px;">
						<br />
						<br />
						<center><i class="fa fa-frown-o fa-8x font-red"></i></center>
						<h4 class="text-center font-grey-gallery" id="">
							Permitaan edit parameter <b>Periode Export - Import</b> telah berhasil di kirim ke Admin Cheker untuk melakukan review dan persetujuan
						</h4>
						<br />
						<a href="#" class="btn btn-padd2 btn-block grey-cascade uppercase no-margin" data-dismiss="modal" aria-hidden="true">Ok</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
		<!-- /.modal-dialog -->
	</div>*@
	<!-- /.modal -->
	<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<!-- BEGIN PAGE HEADER-->
	<!-- BEGIN PAGE BREADCRUMB -->
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<a href="#">Territory</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a href="#">Manage territory</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a href="#">Add New Terrtory</a>
		</li>
	</ul>
	<!-- END PAGE BREADCRUMB -->
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
		<!-- BEGIN PAGE TITLE -->
		<div class="page-title">
			<h1>Add New Territory</h1>
		</div>
		<!-- END PAGE TITLE -->
	</div>
	<!-- END PAGE HEAD -->
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-body form">
					<form asp-action="Create" class="form-horizontal form-row-seperated">
						<div class="form-body">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group">
								<label asp-for="Name" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Desc" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<textarea asp-for="Desc" class="form-control"></textarea>
									<span asp-validation-for="Desc" class="text-danger"></span>
								</div>
							</div>
							@*<div class="form-group">
								<select asp-for="UserId" class="form-control select2me"
										data-placeholder="Select contact"
										asp-items="@(new SelectList(listSuser, "UserId","UserName"))">
									<option>Please select one</option>
								</select>
							</div>*@
						</div>
						<br />
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<a class="btn btn-padd2 grey-cascade" asp-action="index">Cancel</a>
									<button type="submit" class="btn btn-padd2 green" style="margin-left: 10px;">Submit</button>
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTENT-->
</div>
