﻿@model IEnumerable<Aru.Web.ViewModels.SurveyViewModel>
@using Aru.Web.Helpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/select2-old/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/lib/select2-old/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}
@section CustomScripts{
    <script type="text/javascript">
        var urlDataTable = '@SiteHelper.GetBaseUrl(this.Context.Request)/ajaxdatatable/surveys';
    </script>
    <!--- BEGIN CUSTOM JAVASCRIPT -->
    <script src="~/js/survey-datatable.js" type="text/javascript"></script>
    <script>
        var baseUrl = '@SiteHelper.GetBaseUrl(this.Context.Request)'

        $(document).on("click", ".btn-delete", function () {
            var id = $(this).data('id');
            $(".modal-body #itemId").val(id);
        });

    </script>
    <!-- END JAVASCRIPTS -->
}
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- Confirm Alert -->
        <form asp-action="delete" method="post">
            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="pos_middle">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body" style="padding: 20px 25px;">
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                                <h4 class="text-center font-grey-gallery" style="font-weight: 600;">Are you sure to delete this item?</h4>
                                <br />
                                <div class="row">
                                    <input type="hidden" id="itemId" name="id" />
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-block green uppercase" data-backdrop="static" data-keyboard="false">Ya</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="#" class="btn btn-block red uppercase" data-backdrop="static" data-keyboard="false" data-dismiss="modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
        </form>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a asp-action="index">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Survey</a>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Survey</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    @*<div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold uppercase">Manage Survey</span>
                        </div>
                        <a class="btn btn-padd1 green pull-right" href="@SiteHelper.GetBaseUrl(this.Context.Request)/survey/create"><i class="fa fa-plus"></i> &nbsp Add New Survey</a>
                    </div>*@
                    <div class="portlet-body">
                        @*<div class="portlet box green">
                            <div class="portlet-title">
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                                    </a>
                                </div>
                            </div>*@
                            <div class="portlet-body cust-table separate">
                                <div class="table-scrollable">
                                    <a class="btn btn-padd1 green pull-right" href="@SiteHelper.GetBaseUrl(this.Context.Request)/survey/create"> New Survey</a>
                                    <table class="table table-hover datatable_original" id="table-list">
                                        <thead>
                                            <tr>
                                                <th>
                                                    No
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SurveyName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SurveyLink)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.StartDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.EndDate)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>