﻿@model Aru.Web.ViewModels.DashboardViewModel
@using Aru.Web.Helpers
@using System.Globalization;
@using Aru.Web.ViewModels
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/select2-old/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=@ViewBag.GoogleMapsKey" type="text/javascript"></script>
    <script src="~/lib/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

@section CustomScripts{
    <script src="~/js/maps-google-dashboard.js" type="text/javascript"></script>
    <script>
        var baseUrl = '@SiteHelper.GetBaseUrl(this.Context.Request)';
        jQuery(document).ready(function () {
            var errorMessage = '@ViewBag.ErrorMessage';
            if (errorMessage != '') {
                $('#textErrorMessage').text(errorMessage);
                $('#errorDialog').modal('show');
            } else {
                var locData = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AgentLocation))';
                locData = JSON.parse(locData);
                MapsGoogleLocationHistory.init(locData);
            }
        });
    </script>
}

<div class="page-content">
    <div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="pos_middle">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 20px 25px;">
                        <br />
                        <br />
                        <center><i class="fa fa-crosshairs fa-8x font-red"></i></center>
                        <h4 class="text-center font-grey-gallery" id="textErrorMessage">
                            
                        </h4>
                        <br />
                        <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/home/index" class="btn btn-padd2 btn-block grey-cascade uppercase no-margin">Try again</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head hide">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Task Management</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/home/index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title" style=" margin-left: 12px;">
            <h1>Dashboard</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="content-detail">
                <!-- Data Task on Map-->
                <div class="portlet light bordered" style="background-color:ghostwhite">
                    <div class="row">

                        <div class="col-lg=3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 style="font-size:18px">@ViewBag.TotalKunjungan</h3>
                                        <small>Total Kunjungan</small>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-user">

                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg=3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 style="font-size:18px">@ViewBag.NominalInvoice.ToString("C", CultureInfo.CreateSpecificCulture("id-ID."))</h3>
                                        <small>Jumlah Tagihan</small>
                                    </div>
                                    <div class="icon" style="">
                                        <i class="fa fa-credit-card">

                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg=3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 style="font-size:18px">@ViewBag.NominalPayment.ToString("C", CultureInfo.CreateSpecificCulture("id-ID."))</h3>
                                        <small style="font-size:15px">Jumlah Pembayaran</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-money">

                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg=3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <h3 style="font-size:18px">@ViewBag.KunjunganGagal</h3>
                                        <small>Total Kunjungan Gagal</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-remove">

                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form sidebar-form-static">
                            <div id="dashboard-map" class="gmaps">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
