﻿
@model Aru.Web.ViewModels.OutletViewModel
@using Aru.Web.Helpers


@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC0ukzaZfEadL4uqMsbMcGJzmKbxaPKffg" type="text/javascript"></script>
    <script src="~/lib/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

@section CustomScripts{
    <script type="text/javascript">
		var baseUrl = '@SiteHelper.GetBaseUrl(this.Context.Request)';
        jQuery(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage != '') {
                $('#errMessageTxt').text(errorMessage);
                $('#alertModal-error').modal('show');
            }
        });
    </script>
    <script src="~/js/maps-google.js" type="text/javascript"></script>
    <script>
		var baseUrl = '';
		jQuery(document).ready(function () {
			var name = 'ds';
			var lat = '-6.9174639000';
			var longitude = '107.6191228000';

			MapsGoogle.init(name, lat, longitude);
		});
    </script>
}

<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- Approve Alert -->
    <form asp-action="delete">
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="pos_middle">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body" style="padding: 20px 25px;">
                            <h4 class="text-center font-grey-gallery" style="font-weight: 600;">Are you sure to delete this ?</h4>
                            <br />
                            <input type="hidden" value="" name="id" />
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-block green uppercase" data-backdrop="static" data-keyboard="false">Yes</button>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-block red uppercase" data-backdrop="static" data-keyboard="false" data-dismiss="modal">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
    <!-- Alert Notify Approved -->
    <div class="modal fade" id="alertModal-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="pos_middle">
            <div class="modal-dialog modal-sm modal-notify">
                <div class="modal-content">
                    <div class="modal-body">
                        <center><i class="fa fa-check-circle-o font-green"></i></center>
                        <br />
                        <h4 class="text-center font-grey-gallery" id="errMessageTxt"></h4>
                        <br />
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <button type="submit" class="btn btn-block blue" data-backdrop="static" data-keyboard="false" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Manage Outlet</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Data Outlet</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Data Outlet</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="content-detail">
                <!-- Data User -->
                <div class="portlet light bordered">
                    <div class="portlet-title  text-right">
                        <!-- ACTION BUTTON-->
                        <div class="caption col-md-12">
                            <div class="row">
                                <div class="col-md-6 margin-top-10 bold text-left">
                                    <p class="no-margin font-18">
                                        @Model.OwnerName
                                    </p>
                                </div>
                                <div class="text-right col-md-6">
                                    <div class="col-md-12">
                                        <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/outlet/print/@Model.CustomerId" class="btn blue"><i class="fa fa-print" aria-hidden="true"></i></a>
                                        <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/outlet/delete/@Model.CustomerId" class="btn red" data-toggle="modal" data-target="#deleteConfirmationDialog" style="margin: 0 0 0 0;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/outlet/edit/@Model.CustomerId" class="btn green"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END ACTION BUTTON-->
                    </div>
                    <div class="portlet-body form">
                        <div class="tabbable tabbable-tabdrop">
                            <ul class="nav nav-tabs cust-tabs2">
                                <li class="active">
                                    <a href="#tab0" data-toggle="tab">Info Toko</a>
                                </li>
                                <li>
                                    <a href="#tab1" data-toggle="tab">Info Pemilik</a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">Toko</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab0">
                                    <div class="portlet-body form sidebar-form-static">
                                        <!------------------------------------------------------------------------------------------------------------------->
                                        <form action="#" class="form-horizontal">
                                            <div class="form-horizontal form-row-seperated col-md-6" style="margin-top:40px;">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Name</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreName</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Address</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreAddress</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kota/Kabupaten</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreCity</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kecamatan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreDistrict</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kelurahan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreVillage</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!------------------------------------------------------------------------------------------------------------->
                                            <div class="portlet-body form sidebar-form-static col-md-6 margin-top-10">
                                                <div id="task-map" class="gmaps">
                                            </div>
                                            </div>
                                        </form>
                                        <!------------------------------------------------------------------------------------------------------------------->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab1">
                                    <div class="portlet-body form sidebar-form-static">
                                        <!------------------------------------------------------------------------------------------------------------------->
                                        <form action="#" class="form-horizontal">
                                            <div class="form-horizontal form-row-seperated col-md-12" style="margin-top:40px;">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Owner's Name</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.OwnerName</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Phone Number</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.OwnerPhoneNumber</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Address</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.OwnerAddress</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kota/Kabupaten</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.OwnerCity</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kecamatan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.OwnerDistrict</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Kelurahan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.OwnerVillage</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!------------------------------------------------------------------------------------------------------------->
                                            @*<div class="portlet-body form sidebar-form-static col-md-6 margin-top-10">
                                                <div id="task-map" class="gmaps">
                                            </div>
                                            </div>*@
                                        </form>
                                        <!------------------------------------------------------------------------------------------------------------------->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab2">
                                    <div class="portlet-body form sidebar-form-static">
                                        <!------------------------------------------------------------------------------------------------------------------->
                                        <form action="#" class="form-horizontal">
                                            <div class="form-horizontal form-row-seperated col-md-6" style="margin-top:40px;">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Penanggung Jawab</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.PICName</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Phone Number</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.PICPhoneNumber</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Status Toko</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreStatus</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Lama Toko Berjualan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreAge</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Jenis Toko</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.StoreType</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Lebar Jalan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.WidthRoad</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Pelang/Branding</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.BrandingName</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">Catatan</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;">@Model.Note</label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6">KTP & NPWP</label>
                                                        <div class="col-md-5">
                                                            <label class="control-label" style="color:black;"><img src="@Model.PhotoNPWPUrl" class="img-responsive"/></label>
                                                            <label class="control-label" style="color:black;"><img src="@Model.PhotoIdCardUrl" class="img-responsive" /></label>
                                                            <span class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!------------------------------------------------------------------------------------------------------------->
                                            <div class="portlet-body form sidebar-form-static col-md-5 col-md-offset-1" style="margin-top:40px;">
                                                <div class="portlet-body form sidebar-form-static col-md-6 margin-top-10">
                                                    <h4 style="color:#5A7393;">Foto</h4>
                                                    <div class="row margin-top-10">
                                                        <img src="@Model.StorePhotoUrl" class="img-responsive" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!------------------------------------------------------------------------------------------------------------------->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
