﻿@model Aru.Business.Entities.CmsDetailUserReportViewModel
@using Aru.Web.Helpers
@using System.Globalization;
@using Radyalabs.Core.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/select2-old/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=@ViewBag.GoogleMapsKey" type="text/javascript"></script>
    <script src="~/lib/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

@section CustomScripts{
    <script src="~/js/maps-google-user-history.js" type="text/javascript"></script>
    <script>
        var baseUrl = '@SiteHelper.GetBaseUrl(this.Context.Request)';
        jQuery(document).ready(function () {
            var locData = @Html.Raw(Model.LocationHistoryJson);
            var wayRouteData = @Html.Raw(Model.UserWayRoutesJson);

            MapsGoogleDrawRoute.init(locData, wayRouteData);
        });
    </script>
}

<div class="page-content">
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a asp-action="index">Report</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Detail Laporan</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title" style="margin-left: 12px;">
            <h1>Laporan Kunjungan <!-- <small>blank page</small> --></h1>
        </div>
        <!-- END PAGE TITLE -->
        <div class="pageHead-action">
        </div>
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="content-detail" style="width:100%; float:left;">

                <!-- Task Item Detail -->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        @*<div class="caption">
                                <span class="caption-subject bold uppercase">Task Item</span>
                            </div>*@
                        <div class="col-md-1 margin-top-10 bold">
                            <p class="no-margin font-18">
                                @Html.DisplayFor(model => model.UserName)
                            </p>
                        </div>
                    </div>
                <div class="portlet-body form sidebar-form-static">
                    <div class="tabbable tabbable-tabdrop">
                        <ul class="nav nav-tabs cust-tabs2">
                            <li class="active">
                                <a href="#info" data-toggle="tab">Info</a>
                            </li>
                            <li>
                                <a href="#daftar-kunjungan" data-toggle="tab">Daftar Kunjungan</a>
                            </li>
                            <li>
                                <a href="#daftar-kunjungan-gagal" data-toggle="tab">Daftar Kunjungan Batal</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="info">
                                <div class="portlet-body form sidebar-form-static">
                                    <!-- BEGIN FORM-->
                                    <form action="#" class="form-horizontal">
                                        <div class="form-body col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Name</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.Name)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>User Code</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.UserCode)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Phone</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.UserPhone)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6"><b>Waktu kerja</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.TotalWorkTime)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-6"><b>Waktu di toko</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.TotalTimeAtStore)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><b>Waktu terbuang</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.LostTime)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Waktu mulai</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.StartedTime)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Waktu selesai</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.EndTime)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Kunjungan Selesai</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.TotalTaskCompleted)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Total Kunjungan</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.TotalTask)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12"><b>Total Pembayaran</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Html.DisplayFor(model => model.TotalPayment)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label uppercase col-md-12"><b>Jarak tempuh</b></label>
                                                        <div class="col-md-12">
                                                            <p class="form-control-static no-margin">
                                                                @Model.TotalKM.ToString("0.##")
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body form sidebar-form-static col-md-8 margin-top-10">
                                            <div id="task-map" class="gmaps">
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>

                            </div>
                            <div class="tab-pane fade" id="daftar-kunjungan">
                                <div class="portlet light bordered">
                                    <div class="portlet-body cust-table">
                                        <div class="table-scrollable">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">
                                                            No
                                                        </th>
                                                        <th style="min-width: 150px;">
                                                            Nama Toko
                                                        </th>
                                                        <th style="min-width: 150px;">
                                                            Alamat
                                                        </th>
                                                        <th style="text-align: center">
                                                            Waktu mulai
                                                        </th>
                                                        <th style="text-align: center">
                                                            Waktu selesai
                                                        </th>
                                                        <th style="text-align: center">
                                                            Waktu terbuang
                                                        </th>
                                                        <th style="text-align: center">
                                                            Waktu google
                                                        </th>
                                                        <th style="text-align: center">
                                                            Total Tagihan
                                                        </th>
                                                        <th style="text-align: center">
                                                            Total Pembayaran
                                                        </th>
                                                        <th style="text-align: center">
                                                            Status
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.VisitHistory != null && Model.VisitHistory.Count > 0)
                                                    {
                                                        int i = 0;
                                                        foreach (var item in Model.VisitHistory.Where(x=>x.VisitStatus != Aru.Business.Entities.ReportConstant.TASK_FAILED))
                                                        {
                                                            i++;
                                                            <tr>
                                                                <td align="center">
                                                                    @i
                                                                </td>
                                                                <td>
                                                                    @item.CustomerName
                                                                </td>
                                                                <td>
                                                                    @item.Address
                                                                </td>
                                                                <td align="center">
                                                                    @(item.StartTime == null ? "" : item.StartTime.Value.ToString("dd/MM/yyyy HH:mm"))
                                                                </td>
                                                                <td align="center">
                                                                    @(item.EndTime == null ? "" : item.EndTime.Value.ToString("dd/MM/yyyy HH:mm"))
                                                                </td>
                                                                <td align="center">
                                                                    @(Math.Round(item.LossTime, 2))
                                                                </td>
                                                                <td align="center">
                                                                    @(Math.Round(item.GoogleTimeResult, 2))
                                                                </td>
                                                                <td align="center">
                                                                    @item.InvoiceAmount.ToString("C", new CultureInfo("id-ID"))
                                                                </td>
                                                                <td align="center">
                                                                    @item.PaymentAmount.ToString("C", new CultureInfo("id-ID"))
                                                                </td>
                                                                <td>
                                                                    @item.Status
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="daftar-kunjungan-gagal">
                                <div class="portlet light bordered">
                                    <div class="portlet-body cust-table">
                                        <div class="table-scrollable">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center">
                                                            No
                                                        </th>
                                                        <th style="min-width: 150px;">
                                                            Nama Toko
                                                        </th>
                                                        <th style="min-width: 150px;">
                                                            Alamat
                                                        </th>
                                                        <th style="text-align: center">
                                                            Waktu mulai
                                                        </th>
                                                        <th style="text-align: center">
                                                            Waktu selesai
                                                        </th>
                                                        <th style="text-align: center">
                                                            Alasan
                                                        </th>
                                                        <th style="text-align: center">
                                                            Foto
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.VisitHistory != null && Model.VisitHistory.Count > 0)
                                                    {
                                                        int i = 0;
                                                        foreach (var item in Model.VisitHistory.Where(x => x.VisitStatus != Aru.Business.Entities.ReportConstant.TASK_FAILED))
                                                        {
                                                            i++;
                                                            <tr>
                                                                <td align="center">
                                                                    @i
                                                                </td>
                                                                <td>
                                                                    @item.CustomerName
                                                                </td>
                                                                <td>
                                                                    @item.Address
                                                                </td>
                                                                <td align="center">
                                                                    @(item.StartTime == null ? "" : item.StartTime.Value.ToString("dd/MM/yyyy HH:mm"))
                                                                </td>
                                                                <td align="center">
                                                                    @(item.EndTime == null ? "" : item.EndTime.Value.ToString("dd/MM/yyyy HH:mm"))
                                                                </td>
                                                                <td style="text-align: center">
                                                                    Alasan
                                                                </td>
                                                                <td style="text-align: center">
                                                                    Foto
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------------------------->
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
                    </div>
            </div>
        </div>
    </div>
</div>
