﻿@using Aru.Web.Helpers

@{
    ViewData["Title"] = "Laporan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/select2-old/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

@section CustomScripts{
    <script type="text/javascript">
        var urlDataTable = '@SiteHelper.GetBaseUrl(this.Context.Request)/ajaxdatatable/newreport';
        var currentDate = '@ViewBag.CurrentDate';
    </script>
    <script src="~/js/report-index-datatable.js" type="text/javascript"></script>
}
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/home/index">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/report/index">Report</a>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>@ViewData["Title"] <!-- <small>blank page</small> --></h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    @*<div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold">@ViewData["Title"]</span>
                        </div>
                    </div>*@
                    <div class="portlet-body cust-table separate">
                        <div id="filterTable" class="filter-table">
                            <div class="table-scrollable">
                            <div class="input-group date-picker input-daterange" data-date="@ViewBag.CurrentDate" data-date-format="mm/dd/yyyy" style="width:10%; float:right;">
                                <input type="text" class="form-control" name="from" placeholder="Pick date" value="@ViewBag.CurrentDate">
                            </div>
                        <!--</div>-->
                        <table class="table table-striped table-hover datatable_default" id="datatable_default">
                            <thead style="background-color:#5a7393;">
                                <tr>
                                    <th class="text-center">
                                        No
                                    </th>
                                    <th>
                                        Kode Sales
                                    </th>
                                    <th>
                                        Nama Sales
                                    </th>
                                    <th>
                                        Mulai
                                    </th>
                                    <th>
                                        Selesai
                                    </th>
                                    <th>
                                        Jam kerja (Hours)
                                    </th>
                                    <th>
                                        Waktu terbuang (Hours)
                                    </th>
                                    <th>
                                        Waktu di Toko (Hours)
                                    </th>
                                    <th>
                                        Total Pembayaran
                                    </th>
                                    <th>
                                        Total Kunjungan selesai
                                    </th>
                                    <th>
                                        Total Kunjungan
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
