﻿@model Aru.Web.ViewModels.UserRegisterViewModel

@using Aru.Business.Entities;

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<TerritoryModel> listterritory = ViewBag.SalesList;
}

@section CustomScripts{
	<script type="text/javascript">
        jQuery(document).ready(function () {
            var errorMessage = '@ViewBag.ErrorMessage';
            if (errorMessage != '') {
                $('#errMessageTxt').text(errorMessage);
                $('#failedDialog').modal('show');
            }
        });
	</script>
}

<div class="page-content">
	<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<!-- Success Dialog -->
	<div class="modal fade" id="failedDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="pos_middle">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-body" style="padding: 20px 25px;">
						<br />
						<br />
						<center><i class="fa fa-frown-o fa-8x font-red"></i></center>
						<h4 class="text-center font-grey-gallery" id="errMessageTxt">
							Permitaan edit parameter <b>Periode Export - Import</b> telah berhasil di kirim ke Admin Cheker untuk melakukan review dan persetujuan
						</h4>
						<br />
						<a href="#" class="btn btn-padd2 btn-block grey-cascade uppercase no-margin" data-dismiss="modal" aria-hidden="true">Ok</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
	<!-- BEGIN PAGE HEADER-->
	<!-- BEGIN PAGE HEAD -->
	<!-- END PAGE HEAD -->
	<!-- END PAGE HEAD -->
	<!-- BEGIN PAGE BREADCRUMB -->
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<a href="#">Home</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a href="#">Manage User</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a href="#">Add New User</a>
		</li>
	</ul>
	<div class="page-head">
		<!-- BEGIN PAGE TITLE -->
		<div class="page-title">
			<h1>Add New User</h1>
		</div>
		<!-- END PAGE TITLE -->
	</div>
	<!-- END PAGE BREADCRUMB -->
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				@*<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold">Add New User</span>
						</div>
					</div>*@
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form asp-action="create" class="form-horizontal form-row-seperated">
						<div class="form-body">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group">
								<label asp-for="Name" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="RoleId" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<select asp-for="RoleId" class="form-control select2-no-search"
											asp-items="@ViewBag.UserRoles"></select>
									<span asp-validation-for="RoleId" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="UserEmail" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="UserEmail" class="form-control" />
									<span asp-validation-for="UserEmail" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="UserPhone" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="UserPhone" class="form-control" />
									<span asp-validation-for="UserPhone" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="UserCode" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="UserCode" class="form-control" />
									<span asp-validation-for="UserCode" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="UserName" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="UserName" class="form-control" />
									<span asp-validation-for="UserName" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Password" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="Password" class="form-control" id="user-password" />
									<span toggle="#user-password" class="fa fa-fw fa-eye field-icon toggle-userpassword"></span>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="ConfirmPassword" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<input asp-for="ConfirmPassword" class="form-control" id="user-confirm-password" />
									<span toggle="#user-confirm-password" class="fa fa-fw fa-eye field-icon toggle-userconfirmpassword"></span>
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="Territoryid" class="control-label col-md-3"></label>
								<div class="col-md-5">
									<select asp-for="Territoryid" class="form-control select2me"
											data-placeholder="Select contact"
											asp-items="@(new SelectList(listterritory, "TerritoryId","Name"))">
										<option>Please select one</option>
									</select>
								</div>
							</div>
						</div>
						<br />
						<div class="form-actions text-left">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<a class="btn btn-padd2 grey-cascade" asp-action="index">Cancel</a>
									<button type="submit" class="btn btn-padd2 green" style="margin-left: 10px;">Submit</button>
								</div>
							</div>
						</div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTENT-->
</div>
<!-- Fungsi untuk Hidden password-->
<script src="~/lib/plugins/jquery.min.js" type="text/javascript"></script>
<script>
	jQuery(document).ready(function () {
		Metronic.init(); // init metronic core components
		Layout.init(); // init current layout

		if (0 != 0) {
			$('#user-password').prop('required', false);
			$('#user-confirm-password').prop('required', false);
			$('#resetPassword').show();
		}

		$(".toggle-userpassword").click(function () {
			$(this).toggleClass("fa-eye fa-eye-slash");
			var input = $($(this).attr("toggle"));
			if (input.attr("type") == "password") {
				input.attr("type", "text");
			} else {
				input.attr("type", "password");
			}
		});

		$(".toggle-userconfirmpassword").click(function () {
			$(this).toggleClass("fa-eye fa-eye-slash");
			var input = $($(this).attr("toggle"));
			if (input.attr("type") == "password") {
				input.attr("type", "text");
			} else {
				input.attr("type", "password");
			}
		});
	});
</script>