﻿@model IEnumerable<Aru.Business.Entities.AssignmentModel>
@using Aru.Web.Helpers
@{
    ViewData["Title"] = "Daftar Kunjungan Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" type="text/css" href="~/daterangepicker/css/daterangepicker.css" />

}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/lib/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->


    <script type="text/javascript" src="~/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/daterangepicker/daterangepicker.js"></script>

}

@section CustomScripts{
    <script type="text/javascript">
        var urlDataTable = '@SiteHelper.GetBaseUrl(this.Context.Request)/ajaxdatatable/driverassignment';
        var currentDate = new Date();
        //get date now
        var dNow = new Date();
        var s = (dNow.getMonth() + 1) + '/' + dNow.getDate() + '/' + dNow.getFullYear();

        document.getElementById('date').value = s +' - ' + s ;
    </script>
    <script src="~/js/task-datatable.js" type="text/javascript"></script>
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/home/index">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/taskmanagement/index">Task</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body cust-table separate">
                    <div class="table-scrollable">
                        <div id="filter-wrapper" class="row col-md-8 col-xs-12 pull-right">

                            <div id="filterTable" class="filter-table col-md-4 col-xs-12" style="margin-bottom:20px; float:right;">
                                <div class="col-md-12 col-xs-12">
                                    <input type="text" class="form-control" id="date" name="daterange" value="" style="width:180px; float:right" />

                                </div>
                            </div>
                            <div id="filterStatus" class="js-example-basic-single col-md-4 col-xs-12" style="margin-bottom: 20px;">
                                <select class="js-example-basic-single  col-md-8 col-sm-8" id="statuspicker">
                                    <option value="null">All</option>
                                    <option value="TASK_COMPLETED">Completed</option>
                                    <option value="TASK_FAILED">Failed</option>
                                    <option value="TASK_RECEIVED">Received</option>
                                </select>
                            </div>
                        </div>
                        <table class="table table-striped table-hover datatable_default" id="datatable_default">
                            <thead style="background-color:#5a7393;">
                                <tr>
                                    <th class="text-center">
                                        No
                                    </th>
                                    <th>
                                        Task ID
                                    </th>
                                    <th style="min-width: 150px">
                                        Name/Title
                                    </th>
                                    <th>
                                        Agent Code
                                    </th>
                                    <th>
                                        Agent Name
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
