﻿@model Aru.Web.ViewModels.CreateAssignmentViewModel
@using Aru.Business.Entities;
@using Aru.Web.Helpers
@using Aru.Web.ViewModels
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ContactModel> listContact = ViewBag.ContactList;
    List<UserModel> listSales = ViewBag.SalesList;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/lib/plugins/select2-old/select2.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/plugins/select2-old/select2.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=@ViewBag.GoogleMapsKey" type="text/javascript"></script>
    <script src="~/lib/plugins/gmaps/gmaps.min.js" type="text/javascript"></script>
}

@section CustomScripts{
    <script src="~/js/maps-google-geocoding.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var errorMessage = '@ViewBag.ErrorMessage';
            if (errorMessage != '') {
                $('#errMessageTxt').text(errorMessage);
                $('#failedDialog').modal('show');
            }

            MapsGoogle.init();
        });
    </script>
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- Success Dialog -->
        <div class="modal fade" id="failedDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="pos_middle">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body" style="padding: 20px 25px;">
                            <br />
                            <br />
                            <center><i class="fa fa-frown-o fa-8x font-red"></i></center>
                            <h4 class="text-center font-grey-gallery" id="errMessageTxt">
                                Permitaan edit parameter <b>Periode Export - Import</b> telah berhasil di kirim ke Admin Cheker untuk melakukan review dan persetujuan
                            </h4>
                            <br />
                            <a href="#" class="btn btn-padd2 btn-block grey-cascade uppercase no-margin" data-dismiss="modal" aria-hidden="true">Ok</a>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/home/index">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/taskmanagement/index">Task</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Task Details</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Edit Task</a>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Update Task/Assignment</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    @*<div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold uppercase">Update Task/Assignment</span>
                        </div>
                    </div>*@
                    <div class="portlet-body cust-table form">
                        <!-- BEGIN FORM-->
                        <form asp-action="Edit" class="form-horizontal form-row-seperated">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label asp-for="AssignmentName" class="control-label col-md-3"></label>
                                    <div class="col-md-5">
                                        <input asp-for="AssignmentName" class="form-control" />
                                        <span asp-validation-for="AssignmentName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AssignmentDate" class="control-label col-md-3"></label>
                                    <div class="col-md-5">
                                        <input asp-for="AssignmentDate" class="form-control" />
                                        <span asp-validation-for="AssignmentDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Remarks" class="control-label col-md-3"></label>
                                    <div class="col-md-5">
                                        <textarea asp-for="Remarks" class="form-control"></textarea>
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label col-md-3"></label>
                                    <!-- BEGIN GEOCODING PORTLET-->
                                    <div class="col-md-5">
                                        <div class="portlet-body">
                                            <div class="input-group">
                                                <input asp-for="Address" class="form-control" id="gmap_geocoding_address" placeholder="address...">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn blue" id="gmap_geocoding_btn" />
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </div>
                                            <div id="gmap_geocoding" class="gmaps">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END GEOCODING PORTLET-->
                                </div>
                                <div class="form-group">
                                    <label asp-for="Latitude" class="control-label col-md-3"></label>
                                    <div class="col-md-5">
                                        <input asp-for="Latitude" class="form-control" readonly />
                                        <span asp-validation-for="Latitude" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Longitude" class="control-label col-md-3"></label>
                                    <div class="col-md-5">
                                        <input asp-for="Longitude" class="form-control" readonly />
                                        <span asp-validation-for="Longitude" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Contact</label>
                                    <div class="col-md-5">
                                        <select asp-for="ContactId" class="form-control select2me"
                                                data-placeholder="Select sales"
                                                asp-items="@(new SelectList(listContact, "ContactId","ContactName"))">
                                            <option>Please select one</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Sales</label>
                                    <div class="col-md-5">
                                        <select asp-for="SalesId" class="form-control select2me"
                                                data-placeholder="Select contact"
                                                asp-items="@(new SelectList(listSales, "UserId","UserName"))">
                                            <option>Please select one</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions text-left">
                                <div class="row col-md-offset-3">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-padd2 grey-gallery">Cancel</button>
                                        <button type="submit" class="btn btn-padd2 green">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
