﻿@using Aru.Web.Helpers
@using Aru.Business.Entities;

@{
    var userAuth = Aru.Web.Helpers.AppCookieHelper.Get<UserAuthenticated>(this.Context);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@ViewData["Title"] - Aru.Web</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
    <link href="~/lib/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <link href="~/lib/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    @RenderSection("Styles", required: false)
    <!-- BEGIN THEME STYLES -->
    <link href="~/Assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/admin/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Assets/admin/css/themes/light.css" rel="stylesheet" type="text/css" />
    <!--NEW UI CSS-->
    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" type="text/css" />
    <!--END NEW UI CSS-->
    <!-- END THEME STYLES -->
    @*<link rel="shortcut icon" href="favicon.ico" />*@

</head>
<body class="page-sidebar-closed-hide-logo page-sidebar-fixed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/home">
                    @*<h3><i class="fa fa-xing-square"></i> <b><font color="white">SFA</font></b></h3>*@
                    @*<img src="~/images/logo-light.png" alt="logo" class="logo-default" />*@
                </a>
            </div>
            <!-- END LOGO -->
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar-user">
                    <center><img alt="" class="img-circle" src="~/images/avatar1.jpg" /></center>
                    <span>@userAuth.Name</span>
                    <p>@userAuth.RoleName</p>
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default tooltips" data-container="body" data-original-title="View Profile"> <i class="fa fa-user"></i> </a>
                        <a href="#" class="btn btn-default tooltips" data-container="body" data-original-title="Notification"> <i class="fa fa-bell"></i> <b class="badge badge-danger"> 3 </b></a>
                        <a href="@Url.Action("Logout", "Account")" class="btn btn-default tooltips" data-container="body" data-original-title="Logout"> <i class="fa fa-power-off"></i> </a>
                    </div>
                </div>
                <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    @if (userAuth.RoleCode == "SA")
                    {
                        <li @(ViewBag.SelectedMenu == "home" ? "class=active" : "")>
                            <a href="@SiteHelper.GetBaseUrl(Context.Request)/home/index">
                                <i class="icon-home"></i>
                                <span class="title">Dasbor</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a>
                            <i class="icon-pointer"></i>
                            <span class="title">Kunjungan</span><span class="fa fa-chevron-left pull-right"></span>
                        </a>
                        <ul class="sub-menu collapse" id="kunjungan">
                            <li @(ViewBag.SelectedMenu == "task" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(Context.Request)/taskmanagement/index">
                                    <i class="icon-pointer"></i>
                                    <span class="title" style="font-size:13px;">Kunjungan</span>
                                </a>
                            </li>
                            <li @(ViewBag.SelectedMenu == "driver" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/taskmanagement/driver">
                                    <i class="fa fa-car"></i>
                                    <span class="title" style="font-size:13px;">Driver</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li @(ViewBag.SelectedMenu == "task" ? "class=active" : "")>
                        <a href="@SiteHelper.GetBaseUrl(Context.Request)/taskmanagement/index">
                            <i class="icon-pointer"></i>
                            <span class="title">Kunjungan</span>
                        </a>
                    </li>*@
                    <li @(ViewBag.SelectedMenu == "upload" ? "class=active" : "")>
                        <a href="@SiteHelper.GetBaseUrl(Context.Request)/taskmanagement/upload">
                            <i class="icon-umbrella"></i>
                            <span class="title">Upload Tugas</span>
                        </a>
                    </li>

                    @*<li @(ViewBag.SelectedMenu == "customer" ? "class=active" : "")>

            @if (userAuth.RoleCode == "SA")
            {
            <li @(ViewBag.SelectedMenu == "users" ? "class=active" : "")>
                <a href="@SiteHelper.GetBaseUrl(Context.Request)/usermanagement/index">
                    <i class="icon-users"></i>
                    <span class="title">Pengguna</span>
                </a>
            </li>
        }*@



                    @if (userAuth.RoleCode == "SA")
                    {
                        <li @(ViewBag.SelectedMenu == "survey" ? "class=active" : "")>
                            <a href="@SiteHelper.GetBaseUrl(Context.Request)/survey/index">
                                <i class="icon-question"></i>
                                <span class="title">Survey</span>
                            </a>
                        </li>
                    }

                    <li @(ViewBag.SelectedMenu == "customer" ? "class=active" : "")>
                        <a href="@SiteHelper.GetBaseUrl(Context.Request)/customer/index">
                            <i class="icon-users"></i>
                            <span class="title">Pelanggan</span>
                        </a>
                    </li>

                    <li @(ViewBag.SelectedMenu == "news" ? "class=active" : "")>
                        <a href="@SiteHelper.GetBaseUrl(Context.Request)/news/index">
                            <i class="fa fa-file-text"></i>
                            <span class="title">News</span>
                        </a>
                    </li>

                    <li @(ViewBag.SelectedMenu == "contact" ? "class=active" : "")>
                        <a href="@SiteHelper.GetBaseUrl(Context.Request)/contact/index">
                            <i class="icon-user-female"></i>
                            <span class="title">Contact</span>
                        </a>
                    </li>
                    <!----------------------------------------------------------------------------------------------------------------->
                    <li>
                        <a>
                            <i class="icon-screen-desktop"></i>
                            <span class="title">Laporan</span><span class="fa fa-chevron-left pull-right"></span>
                        </a>
                        <ul class="sub-menu collapse" id="dashboard">
                            <li @(ViewBag.SelectedMenu == "report" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/report/index">
                                    <i class="fa fa-briefcase"></i>
                                    <span class="title" style="font-size:13px;">Produktifitas</span>
                                </a>
                            </li>
                            <li @(ViewBag.SelectedMenu == "report" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/report/driver">
                                    <i class="fa fa-briefcase"></i>
                                    <span class="title" style="font-size:13px;">Driver</span>
                                </a>
                            </li>
                            <li @(ViewBag.SelectedMenu == "outlet" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(this.Context.Request)/outlet/index">
                                    <i class="fa fa-map-marker"></i>
                                    <span class="title" style="font-size:13px;">New Outlet</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!----------------------------------------------------------------------------------------------------------------->
                    <li>
                        <a href="#">
                            <i class="icon-settings"></i>
                            <span class="title">Pengaturan</span><span class="fa fa-chevron-left pull-right"></span>
                        </a>
                        <ul class="sub-menu collapse" id="dashboard">
                            <li @(ViewBag.SelectedMenu == "users" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(Context.Request)/usermanagement/index">
                                    <i class="icon-users"></i>
                                    <span class="title" style="font-size:13px;">Pengguna</span>
                                </a>
                            </li>
                            @if (userAuth.RoleCode == "SA")
                            {
                                <li @(ViewBag.SelectedMenu == "product" ? "class=active" : "")>
                                    <a href="@SiteHelper.GetBaseUrl(Context.Request)/product/index">
                                        <i class="fa fa-archive"></i>
                                        <span class="title" style="font-size:13px;">Produk</span>
                                    </a>
                                </li>
                            }
                            <li @(ViewBag.SelectedMenu == "territory" ? "class=active" : "")>
                                <a href="@SiteHelper.GetBaseUrl(Context.Request)/territory/index">
                                    <i class="fa fa-map-marker"></i>
                                    <span class="title" style="font-size:13px;">Teritori</span>
                                </a>
                            </li>
                            @*<li>
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span class="title" style="font-size:13px;">Survey</span>
                    </a>
                </li>*@
                        </ul>
                    </li>
                    @*@if (userAuth.RoleCode == "SA")
        {
            <li>
                <a href="#">
                    <i class="icon-settings"></i>
                    <span class="title">Pengaturan</span>
                </a>
            </li>
        }*@
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper" style="margin-top:40px;">
            @RenderBody()
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy; Qion Salesforce
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/lib/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/lib/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/lib/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    @RenderSection("Scripts", required: false)
    <script src="~/js/metronic.js" type="text/javascript"></script>
    <script src="~/js/layout.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
        });
    </script>
    @RenderSection("CustomScripts", required: false);
</body>
</html>
